<h4>Protected Page</h4>

<style>
.hour-block{
  background-color: grey;
  border: 1px solid black;
  cursor: pointer;
}

</style>


<% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"].each do |day| %>

  <div class="col-md-2">


    <h5><%= day %></h5>

    <% time = Time.new(2015,3,3,6,0,0) %>

    <% while time.hour != 20  %>


        <div class="col-md-12 hour-block">
          <%= time.to_formatted_s(:time)  %>
        </div>

      <% time = time + 1.hour %>
    <% end %>

  </div>

<% end %>

<script>
  $('.hour-block').click(function(){
  
    $(this).css("background-color", "blue");
  })
</script>
