/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "railsbricks_custom";


.hour-block{
  background-color: grey;
  border: 1px solid black;
  cursor: pointer;
}

.chart{
  margin: 0 auto;
}
